<template>
  <div>
    <div class="mb-4">
      <div v-if="settings.worlds.length">
        <ul class="list-group">
          <li
            class="list-group-item"
            v-for="(world, index) in settings.worlds"
            :key="index"
          >
            <div class="d-flex d-flex-row">
              <div class="mr-2 pointer" @click="open(world);">
                <img
                  :src="$root.app.serverUrl + '/worlds/' + world.id + '/image'"
                  style="width:64px;height:64px;"
                >
              </div>
              <div class="mr-auto pointer" @click="open(world);">
                <div>Name: {{world.name}}</div>
                <div>Measure: {{world.measure}}</div>
              </div>
              <div>
              <div class="text-primary pointer text-large" title="Remove" @click="deleteWorld(world);">
                ×
              </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div v-else>none</div>
    </div>
    <div class="mb-4">
      <div class="col">
        <button type="button" class="btn btn-primary" @click="select()">Select</button>
      </div>
    </div>
  </div>
</template>

<script>
import logRejection from "@/utils/logRejection";

export default {
  methods: {
    open(world) {
      this.$router.push({
        name: "route-search.world", params: {id: world.id}
      });
    },
    select() {
      this.$router.push({
        name: "settings.select-world"
      });
    },
    deleteWorld(world) {
      return this.$store.dispatch('removeWorldFromSettings', world).catch(logRejection);
    }
  },
  computed: {
    settings() {
      return this.$store.getters.user.settings;
    }
  }
};
</script>