<template>
  <div>
    <table-component
      :columns="columns"
      endpoint="worlds"
      row-clickable
      :row-click="select"
    ></table-component>
  </div>
</template>

<script>
import Table from "@/components/Table.vue";

export default {
  data() {
    return {
      columns: [
        { field: "name", title: "Name of the World", type: "text" },
        { field: "measure", title: "Measure", type: "text" },
        {
          field: "image",
          title: "image",
          type: "image",
          src: this.$root.app.serverUrl + "/worlds/{id}/image",
          style: "width:64px;height:64px;"
        }
      ]
    };
  },
  methods: {
    select(world) {
      this.$store.dispatch('selectWorld', world);
    }
  },
  components: {
    "table-component": Table
  }
};
</script>