<template>
  <div>
    <div v-if="settings.worlds.length">
      <ul class="list-group">
        <li
          class="list-group-item pointer"
          v-for="(world, index) in settings.worlds"
          :key="index"
          @click="select(world);"
        >
          <div class="d-flex d-flex-row">
            <div class="mr-2">
              <img
                :src="$root.app.serverUrl + '/worlds/' + world.id + '/image'"
                style="width:64px;height:64px;"
              >
            </div>
            <div>
              <div>Name: {{world.name}}</div>
              <div>Measure: {{world.measure}}</div>
            </div>
            <div></div>
          </div>
        </li>
      </ul>
    </div>
    <div v-else>none</div>
  </div>
</template>

<script>
export default {
  methods: {
    select(world) {
      this.$router.push({
        name: "route-search.world",
        params: { id: world.id }
      });
    }
  },
  computed: {
    settings() {
      return this.$store.getters.user.settings;
    }
  }
};
</script>