<template>
  <div>
    <div class="row mt-2">
      <div class="col-lg-3">
        <div>
          <h4>General information</h4>
          <span class="STOP text-large">&nbsp;</span>
          Stops {{world.stops}}
          <br>
          <span class="BUILDING text-large">&nbsp;</span>
          Buildings {{world.buildings}}
          <br>
          <span class="TREE text-large">&nbsp;</span>
          Trees {{world.trees}}
          <br>
          <span class="DESERT text-large">&nbsp;</span> Desert
          <br>
          <span class="WATER text-large">&nbsp;</span> Ocean, Sea, Lake, Pond
          <br>
          <span class="SUBWAY text-large" style="background-color: gray">&nbsp;</span> Subway
          <br>Means of travelling:
          <span class="text-monospace">{{wayTypes.join(', ') || 'none'}}</span>
          <br>
        </div>

        <div v-if="world && world.vehicles && world.vehicles.length" class="mt-1">
          <h4>Vehicles</h4>
          <ul class="list-group">
            <li
              @click="viewVehicle(vehicle);"
              class="list-group-item pointer"
              v-for="(vehicle, index) in world.vehicles"
              :key="index"
            >
              <div class="d-flex d-flex-row">
                <div class="w-25 mr-2">
                  <div
                    class="vehicle"
                    :class="vehicle.wayType"
                    :style="{'filter' : userWaytypes.includes(vehicle.wayType) ? 'hue-rotate(' + vehicle.hue + 'deg)' : 'grayscale(100%) contrast(0%) brightness(40%)'}"
                  ></div>
                </div>

                <div class="mr-auto flex-grow-1">
                  <div>{{vehicle.name}}</div>
                  <div>
                    <span
                      class="v-mark"
                      :style="{'filter': 'hue-rotate(' + vehicle.hue + 'deg)'}"
                    >{{vehicle.symbol}}</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <!-- <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
            <button
              class="btn btn-outline-primary btn-block"
              type="button"
              @click="findRoutes()"
            >Get routes</button>
          </form>
        </nav>-->

        <div v-if="route.routes.length" class="mt-1">
          <h4>Routes</h4>
          <ul class="list-group">
            <li
              class="list-group-item"
              :class="'route-' + route.type"
              v-for="(route, index) in route.routes"
              :key="index"
            >
              <div class="d-flex d-flex-row">
                <div class="mr-2 p-2 text-center distance">
                  <p class="font-weight-bold text-large">{{route.distance}}</p>
                  <div class="vehicle ic-64" :class="route.type"></div>
                </div>
                <div class="mr-auto flex-grow-1">
                  <div class="text-right">
                    <span v-for="(vehicle, idx) in world.vehicles" :key="idx">
                      <span
                        class="v-mark"
                        v-if="route.type===vehicle.wayType"
                        :style="{'filter': 'hue-rotate(' + vehicle.hue + 'deg)'}"
                      >&nbsp;{{vehicle.symbol}}</span>
                    </span>
                  </div>
                  <div>
                    <small>{{route.adaptedPath.join(" → ")}}</small>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div ref="world" class="col-lg-9">
        <table class="w-100 world text-mono-bold">
          <tbody>
            <tr>
              <td></td>
              <td v-for="(chr, idx) in chars" :key="idx">{{idx}}</td>
            </tr>
            <tr v-for="(row, i) in world.cells" :key="i">
              <td>{{chars.charAt(i)}}&nbsp;</td>
              <td
                class="text-small"
                :id="i+','+j"
                v-for="(cell, j) in row"
                :key="j"
                :class="[cell.type, cell.underground ? 'SUBWAY' : '', cell.way]"
                :width="cellSize"
                :height="cellSize"
                @click="selectSpot()"
              >
                <div v-if="'STOP'===cell.type">
                  <b-popover title="Stops" :target="i+','+j" triggers="click">
                    <p class="text-center">{{cell.name}}</p>
                    <p class="text-center">{{cell.underground ? 'Subway line' : ''}}</p>
                    <p class="text-center">
                      <button
                        class="mr-2 btn btn-outline-primary btn-block"
                        @click="makeWay(cell, 'START')"
                      >From</button>
                      <button
                        class="btn btn-outline-primary btn-block"
                        @click="makeWay(cell, 'END')"
                      >To</button>
                    </p>
                  </b-popover>
                </div>
                <div v-else-if="'TREE'===cell.type">
                  <b-popover title="Trees and parks" :target="i+','+j" triggers="hover">
                    <p class="text-center">Tree</p>
                    <p class="text-center">{{cell.underground ? 'Subway line' : ''}}</p>
                  </b-popover>
                </div>
                <div v-else-if="'WATER'===cell.type">
                  <b-popover title="Lakes, ponds, sea, ocean" :target="i+','+j" triggers="hover">
                    <p class="text-center">Water</p>
                    <p class="text-center">{{cell.underground ? 'Subway line' : ''}}</p>
                  </b-popover>
                </div>
                <div v-else-if="'DESERT'===cell.type">
                  <b-popover title="Desert sands" :target="i+','+j" triggers="hover">
                    <p class="text-center">Desert</p>
                    <p class="text-center">{{cell.underground ? 'Subway line' : ''}}</p>
                  </b-popover>
                </div>
                <div v-else-if="'BUILDING'===cell.type">
                  <b-popover title="Buildings" :target="i+','+j" triggers="hover">
                    <p class="text-center">{{cell.name}}</p>
                    <p class="text-center">{{cell.underground ? 'Subway line' : ''}}</p>
                  </b-popover>
                </div>
                <div>
                  <div v-if="!route.routes.length">
                    <span v-if="'START'===cell.way">↦</span>
                    <span v-else-if="'END'===cell.way">⇥</span>
                  </div>
                  <div v-else>
                    <span
                      class="route-mark"
                      :class="'route-' + wayType"
                      v-for="wayType in userWaytypes"
                      :key="wayType"
                    >{{cell[wayType]}}</span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import RoutesService from "@/services/routesService";

let chars =
  "ABCDEFGHIJKLMNOPQRSTUVWXYZ♦♥♠♣☼◊♫♪▲αβγδεζθλμνπωφτσρΞabcdefghijklmnopqrstuvwxyz";

export default {
  computed: {
    route() {
      return this.$store.getters.route;
    },
    chars() {
      let world = this.$store.getters.world;
      if (!world) {
        return "";
      }
      return chars.substring(0, world.measure);
    },
    userWaytypes() {
      let world = this.$store.getters.world;
      if (!world) {
        return [];
      }
      return RoutesService.userWaytypes(world);
    },
    world() {
      let world = this.$store.getters.world;
      if (!world) {
        return {};
      }
      let stops = 0;
      let buildings = 0;
      let trees = 0;
      world.cells.forEach(row =>
        row.forEach(cell => {
          if ("STOP" === cell.type) {
            stops++;
          } else if ("BUILDING" === cell.type) {
            buildings++;
          } else if ("TREE" === cell.type) {
            trees++;
          }
        })
      );
      world.stops = stops;
      world.buildings = buildings;
      world.trees = trees;
      return world;
    },
    cellSize() {
      let world = this.$store.getters.world;
      return world && this.$refs.world
        ? Math.round(this.$refs.world.offsetWidth / world.measure) + "px"
        : "";
    },
    wayTypes() {
      let wayTypes = [];
      let addWayType = wayType => {
        if (!wayTypes.includes(wayType)) {
          wayTypes.push(wayType);
        }
      };
      let world = this.$store.getters.world;
      if (world && world.vehicles) {
        world.vehicles.forEach(vehicle => addWayType(vehicle.wayType));
      }
      return wayTypes;
    }
  },
  mounted() {
    let world = this.$store.getters.world;
    if (!world || this.id !== world.id) {
      this.$store.commit("setRoute", {
        way: {
          start: null,
          end: null
        },
        routes: []
      });
      return this.$store.dispatch("getWorld", this.id).then(world => {
        if (!world) {
          this.$router.push({
            name: "error",
            query: { msg: `World ${this.id} not found` }
          });
          return world;
        }
        this.$forceUpdate();
      });
    }
  },
  props: ["id"],
  methods: {
    viewVehicle(vehicle) {
      this.$router.push({
        name: "route-search.vehicle",
        params: { id: vehicle.id }
      });
    },
    findRoutes() {
      let route = this.route;
      route.routes = [];
      let way = route.way;
      if (!way || !way.start || !way.end) {
        this.$bvModal.msgBoxOk(
          "You should add starting and ending positions first",
          {
            title: "Warning"
          }
        );
        return;
      }
      let world = this.$store.getters.world;
      let availableChoices = RoutesService.userWaytypes(world);
      if (0 === availableChoices.length) {
        this.$bvModal.msgBoxOk(
          "There are no available vehicles for you in this world!",
          {
            title: "Warning"
          }
        );
        return;
      }
      route.routes = availableChoices.map(wayType => {
        let route = RoutesService.getRoute(world, way, wayType);
        route.type = wayType;
        route.adaptedPath = [];
        let path = route.path;
        for (let i = path.length - 1; i >= 0; i--) {
          let coords = path[i].split(",");
          route.adaptedPath.push(chars.charAt(coords[0]) + coords[1]);
        }
        return route;
      });
      this.$forceUpdate();
    },
    makeWay(cell, direction) {
      let route = this.route;
      route.routes = [];
      if ("STOP" !== cell.type) {
        this.$bvModal.msgBoxOk("You can travel only between stop cells", {
          title: "Warning"
        });
        return;
      }
      let way = route.way;
      direction = direction || (way.start ? "END" : "START");
      switch (direction) {
        case "START":
          if (way.start) {
            way.start.way = null;
          }
          if (cell.way) {
            way.end = null;
          }
          way.start = cell;
          cell.way = "START";
          break;
        default: {
          if (way.end) {
            way.end.way = null;
          }
          if (cell.way) {
            way.start = null;
          }
          way.end = cell;
          cell.way = "END";
        }
      }
      this.$root.$emit("bv::hide::popover");

      if (way.end && way.start) {
        this.findRoutes();
      }

      this.$forceUpdate();
    },
    selectSpot() {
      this.$root.$emit("bv::hide::popover");
    }
  },
  destroyed() {
    let world = this.$store.getters.world;
    if (world) {
      world.cells.forEach(row => {
        row.forEach(cell => {
          delete cell.way;
        });
      });
    }
  }
};
</script>