<template>
  <div class="container h-100">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <ul class="navbar-nav">
                  <router-link tag="li" class="nav-item" active-class="active" :to="{name: 'worlds'}">
                    <a class="nav-link">Worlds</a>
                    </router-link>
                  <router-link tag="li" class="nav-item" active-class="active" :to="{name: 'vehicles'}">
                    <a class="nav-link">Vehicles</a>
                    </router-link>

      </ul>
    </nav>

    <transition name="v-slide-left" mode="out-in">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
export default {
  name: "Manage"
};
</script>