<template>
  <div>
    <div class="row">
      <div class="col-lg-8 col">
        <h3>{{vehicle.name}}</h3>
        Age: {{vehicle.age}}
        <br>
        Manufacturer: {{vehicle.creator}}
        <br>Symbol:
        <span
          class="vehicle mark"
          :style="{'filter': 'hue-rotate(' + vehicle.hue + 'deg)'}"
        >&nbsp;{{vehicle.symbol}}&nbsp;</span>
        <br>
        Means of travelling: {{vehicle.wayTypeDisplayName}}
        <br>
        <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
            <button class="btn btn-link" type="button" @click="deleteVehicle()">Delete</button>
          </form>
        </nav>
      </div>
      <div class="col-lg-4">
        <div
          class="vehicle"
          :class="vehicle.wayType"
          :style="{'filter': 'hue-rotate(' + vehicle.hue + 'deg)'}"
        >
          <span class="vehicle mark">&nbsp;{{vehicle.symbol}}&nbsp;</span>
        </div>
        <!-- <div class="text-center">
          <span
            class="vehicle mark"
            :style="{'background-color': 'black'}"
          >&nbsp;{{vehicle.symbol}}&nbsp;</span>
        </div>-->
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import businessLogic from "@/businessLogic";
import logRejection from "@/utils/logRejection";

export default {
  mounted() {
    let vehicle = this.$store.getters.vehicle;
    if (!vehicle || this.id !== vehicle.id) {
      return this.$store.dispatch("getVehicle", this.id).then(() => {
        let vehicle = this.$store.getters.vehicle;
        if (!vehicle) {
          this.$router.push({
            name: "error",
            query: { msg: `Vehicle ${this.id} not found` }
          });
        }
      });
    }
  },
  computed: {
    vehicle() {
      let vehicle = this.$store.getters.vehicle;
      if (!vehicle) {
        return {};
      }
      vehicle.age =
        new moment().diff(new moment(vehicle.created), "days") + " (days)";
      vehicle.wayTypeDisplayName =
        businessLogic.model.app.vehicles.wayTypeDisplayNames[vehicle.wayType];
      return vehicle;
    }
  },
  props: ["id"],
  methods: {
    deleteVehicle() {
      this.$store.dispatch("deleteVehicle", this.id).then(() => {
        this.$router.go(-1);
      }, logRejection);
    }
  },
  destroyed() {
    console.debug("Vehicle is not being cleared from vuex store");
  }
};
</script>