
<template>
  <div>
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <button class="btn btn-outline-primary" type="button" @click="create()">Create new</button>
      </form>
    </nav>
    <table-component
      routed
      :columns="columns"
      endpoint="vehicles"
      :postprocess="makeAdjustments"
      row-clickable
      :row-click="viewVehicle"
    ></table-component>

    <blockquote class="blockquote">
      <footer class="blockquote-footer">
        <div v-for="(value, key) in app.vehicles.wayTypeDisplayNames" :key="key">
          <div class="d-flex">
            <img :src="'/' + key + '.png'" style="width:64px;height:64px;">
            <div class="ml-2">
              <em>{{ value }}</em>
            </div>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</template>

<script>
// import businessLogic from "../businessLogic";
import Table from "@/components/Table.vue";
import moment from "moment";

export default {
  data() {
    return {
      columns: [
        { field: "name", title: "Name of the Vehicle" },
        {
          field: "symbol",
          title: "Symbol",
          type: "html",
          template:
            '<span class="vehicle mark" style="filter:hue-rotate({hue}deg);">&nbsp;{symbol}&nbsp;</span>'
        },
        { field: "wayType", title: "Means of travelling" },
        { field: "creator", title: "Creator" },
        { field: "createdDisplayText", title: "Created" },
        {
          field: "image",
          title: "Image",
          type: "image",
          src: "/{wayType}.png",
          style: "width:64px;height:64px;filter:hue-rotate({hue}deg);"
        }
      ],
      makeAdjustments(page) {
        page.content.forEach(
          v => (v.createdDisplayText = moment(v.created).fromNow())
        );
        return page;
      }
    };
  },
  methods: {
    create() {
      this.$store.dispatch("createVehicle").then(() => {
        this.$emit("update");
      });
    },
    viewVehicle(vehicle) {
      this.$router.push({ name: "vehicle", params: { id: vehicle.id } });
    }
  },
  components: {
    "table-component": Table
  }
};
</script>