<template>
  <div class="container">
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <button class="btn btn-outline-primary" type="button" @click="create()">Create new</button>
      </form>
    </nav>
    <table-component
      routed
      :columns="columns"
      endpoint="worlds"
      :postprocess="makeAdjustments"
      row-clickable
      :row-click="viewWorld"
    ></table-component>
  </div>
</template>

<script>
// import businessLogic from "../businessLogic";
import Table from "@/components/Table.vue";
import moment from "moment";

export default {
  data() {
    return {
      columns: [
        { field: "name", title: "Name of the World" },
        { field: "measure", title: "Measure" },
        { field: "creator", title: "Creator" },
        { field: "createdDisplayText", title: "Created" },
        {
          field: "image",
          title: "image",
          type: "image",
          src: this.$root.app.serverUrl + "/worlds/{id}/image",
          style: "width:64px;height:64px;"
        }
      ],
      makeAdjustments(page) {
        page.content.forEach(
          v => (v.createdDisplayText = moment(v.created).fromNow())
        );
        return page;
      }
    };
  },
  methods: {
    create() {
      return this.$store.dispatch('createWorld').then(() => {
        this.$emit("update");
      });
    },
    viewWorld(world) {
      this.$router.push({ name: "world", params: { id: world.id } });
    }
  },
  components: {
    "table-component": Table
  }
};
</script>