<template>
  <div>
    <div class="row mt-2">
      <div class="col-lg-3">
        <h3>{{world.name}}</h3>
        Age: {{world.age}}
        <br>
        <span class="STOP text-large">&nbsp;</span>
        Stops {{world.stops}}
        <br>
        <span class="BUILDING text-large">&nbsp;</span>
        Buildings {{world.buildings}}
        <br>
        <span class="TREE text-large">&nbsp;</span>
        Trees {{world.trees}}
        <br>
        <span class="DESERT text-large">&nbsp;</span> Desert
        <br>
        <span class="WATER text-large">&nbsp;</span> Ocean, Sea, Lake, Pond
        <br>
        <span class="SUBWAY text-large" style="background-color: gray">&nbsp;</span> Subway
        <br>Means of travelling:
        <span class="text-monospace">{{wayTypes.join(', ') || 'none'}}</span>
        <br>

        <div v-if="world && world.vehicles && world.vehicles.length">
          <ul class="list-group">
            <li class="list-group-item" v-for="(vehicle, index) in world.vehicles" :key="index">
              <div class="d-flex d-flex-row">
                <div class="mr-2 pointer" @click="viewVehicle(vehicle);">
                  <span
                    class="vehicle mark"
                    :style="{'filter': 'hue-rotate(' + vehicle.hue + 'deg)'}"
                  >&nbsp;{{vehicle.symbol}}&nbsp;</span>
                </div>
                <div class="mr-auto pointer" @click="viewVehicle(vehicle);">
                  <div>{{vehicle.name}}</div>
                  <div>{{vehicle.wayType}}</div>
                </div>
                <div>
                  <div
                    class="text-primary pointer text-large"
                    title="Remove"
                    @click="removeVehicle(vehicle);"
                  >×</div>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
            <button class="btn btn-link" type="button" @click="addVehicles()">Add new vehicles</button>
            <button class="btn btn-link" type="button" @click="deleteWorld()">Delete</button>
          </form>
        </nav>
      </div>

      <div ref="world" class="col-lg-9">
        <table class="w-100 world">
          <tbody>
            <tr v-for="(row, i) in world.cells" :key="i">
              <td
                :id="i+','+j"
                v-for="(cell, j) in row"
                :key="j"
                :class="[cell.type, cell.underground ? 'SUBWAY' : '']"
                :width="cellSize"
                :height="cellSize"
                @click="selectSpot()"
              >
                <div v-if="'TREE'===cell.type">
                  <b-popover title="Trees and parks" :target="i+','+j" triggers="hover">
                    <p class="text-center">Tree</p>
                    <p class="text-center">{{cell.underground ? 'Subway line' : ''}}</p>
                  </b-popover>
                </div>
                <div v-else-if="'STOP'===cell.type">
                  <b-popover title="Stops" :target="i+','+j" triggers="click">
                    <p class="text-center">{{cell.name}}</p>
                    <p class="text-center">{{cell.underground ? 'Subway line' : ''}}</p>
                    <p class="text-center">
                      <button class="btn btn-outline-primary btn-block" @click="clear(cell)">Remove stop</button>
                    </p>
                  </b-popover>
                </div>
                <div v-else-if="'WATER'===cell.type">
                  <b-popover title="Water" :target="i+','+j" triggers="click">
                    <p class="text-center">{{cell.underground ? 'Subway line' : ''}}</p>
                    <p class="text-center">
                      <button class="btn btn-outline-primary btn-block" @click="addStop(cell)">Add stop</button>
                    </p>
                  </b-popover>
                </div>
                <div v-else-if="'DESERT'===cell.type">
                  <b-popover title="Deserted place" :target="i+','+j" triggers="click">
                    <p class="text-center">{{cell.underground ? 'Subway line' : ''}}</p>
                    <p class="text-center">
                      <button class="mr-1 btn btn-outline-primary btn-block" @click="addStop(cell)">Add stop</button>
                      <button
                        class="btn btn-outline-primary btn-block"
                        @click="addBuilding(cell)"
                      >Add building</button>
                    </p>
                  </b-popover>
                </div>
                <div v-else-if="'BUILDING'===cell.type">
                  <b-popover title="Buildings" :target="i+','+j" triggers="click">
                    <p class="text-center">{{cell.name}}</p>
                    <p class="text-center">{{cell.underground ? 'Subway line' : ''}}</p>
                    <p class="text-center">
                      <button class="btn btn-outline-primary btn-block" @click="clear(cell)">Remove building</button>
                    </p>
                  </b-popover>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import logRejection from "@/utils/logRejection";

export default {
  mounted() {
    let world = this.$store.getters.world;
    if (!world || this.id !== world.id) {
      return this.$store.dispatch("getWorld", this.id).then(world => {
        if (!world) {
          this.$router.push({
            name: "error",
            query: { msg: `World ${this.id} not found` }
          });
          return world;
        }
      });
    }
  },
  props: ["id"],
  methods: {
    deleteWorld() {
      return this.$store.dispatch("deleteWorld", this.id).then(() => {
        this.$router.go(-1);
      }, logRejection);
    },
    addVehicles() {
      this.$router.push({ name: "world.vehicles", params: { id: this.id } });
    },
    removeVehicle(vehicle) {
      return this.$store
        .dispatch("removeVehicleFromWorld", vehicle)
        .then(() => {
          this.$forceUpdate();
        }, logRejection);
    },
    viewVehicle(vehicle) {
      this.$router.push({ name: "vehicle", params: { id: vehicle.id } });
    },
    addStop(cell) {
      return this.$store.dispatch("addStopToWorld", cell).then(() => {
        this.$root.$emit("bv::hide::popover");
        this.$forceUpdate();
      }, logRejection);
    },
    addBuilding(cell) {
      return this.$store.dispatch("addBuildingToWorld", cell).then(() => {
        this.$root.$emit("bv::hide::popover");
        this.$forceUpdate();
      }, logRejection);
    },
    clear(cell) {
      this.$root.$emit("bv::hide::popover");
      return this.$store
        .dispatch("removeStopOrBuildingFromWorld", cell)
        .then(() => {
          this.$forceUpdate();
        }, logRejection);
    },
    selectSpot() {
      this.$root.$emit("bv::hide::popover");
    }
  },
  computed: {
    world() {
      let world = this.$store.getters.world;
      if (!world) {
        return {};
      }
      let stops = 0;
      let buildings = 0;
      let trees = 0;
      world.cells.forEach(row =>
        row.forEach(cell => {
          if ("STOP" === cell.type) {
            stops++;
          } else if ("BUILDING" === cell.type) {
            buildings++;
          } else if ("TREE" === cell.type) {
            trees++;
          }
        })
      );
      world.stops = stops;
      world.buildings = buildings;
      world.trees = trees;
      world.age =
        new moment().diff(new moment(world.created), "days") + " (days)";
      return world;
    },
    cellSize() {
      let world = this.$store.getters.world;
      return world && this.$refs.world
        ? Math.round(this.$refs.world.offsetWidth / world.measure) + "px"
        : "20px";
    },
    wayTypes() {
      let wayTypes = [];
      let addWayType = wayType => {
        if (!wayTypes.includes(wayType)) {
          wayTypes.push(wayType);
        }
      };
      let world = this.$store.getters.world;
      if (world && world.vehicles) {
        world.vehicles.forEach(vehicle => addWayType(vehicle.wayType));
      }
      return wayTypes;
    }
  },
  destroyed() {
    console.debug("World is not being cleared from vuex store");
  }
};
</script>