
<template>
  <div>
    <div class="row pt-lg-4">
      <div class="col-lg-4">
        <div class="settings">Vehicles</div>

        <div
          class="w-25 d-inline-block"
          v-for="(value, type) in settings.waytypeChoices"
          :key="type"
        >
          <div
            class="vehicle"
            :class="type"
            :style="{'filter' : value.selected  ? 'none' : 'grayscale(100%) contrast(0%) brightness(40%)'}"
          ></div>
        </div>
      </div>
      <div class="col">
        Preferred means of traveling:
        <div v-for="(value, type) in settings.waytypeChoices" :key="type">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              v-model="value.selected"
              :id="type"
              @change="$store.dispatch('saveSettings')"
            >
            <label class="form-check-label" :for="type">{{value.name}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-lg-4">
      <div class="col-lg-4">
        <div class="settings">My worlds</div>
      </div>
      <div class="col">
        <transition name="v-grow" mode="out-in">
          <router-view name="worlds"></router-view>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    settings() {
      return this.$store.getters.user.settings;
    }
  }
};
</script>