<template>
  <div class="container h-100">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <ul class="navbar-nav">
        <router-link tag="li" class="nav-item" active-class="active" :to="{name: 'route-search'}">
          <a class="nav-link">Route Search</a>
        </router-link>
        <router-link tag="li" class="nav-item" active-class="active" :to="{name: 'settings'}">
          <a class="nav-link">Preferences</a>
        </router-link>
      </ul>
    </nav>

    <transition name="v-slide-left"  mode="out-in">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
export default {
  name: "Use",
  props: {
    msg: String
  }
};
</script>