<template>
  <div>
    <router-view></router-view>
  </div>
</template>

<script>
// @ is an alias to /src
// import hello from "@/components/Hello.vue";

export default {
  name: "home",
  components: {
    // hello
  }
};
</script>
