<template>
  <form class="w-100" @submit.prevent="submit(login)">
    <div class="input-group">
      <input type="text" ref="login" class="form-control primary" placeholder="Username" v-model="login">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit" style="z-index:1">Next</button>
      </div>
    </div>
    <div class="text-primary">{{desc.text}}</div>
  </form>
</template>

<script>
export default {
  name: "LoginForm",
  data() {
    return { login: "", desc: { text: "" } };
  },
  mounted() {
    this.$refs.login.focus();
  },
  methods: {
    submit(login) {
      this.desc.text = "";
      return this.$store.dispatch('login', login).catch(err => this.desc.text = err);
    }
  }
};
</script>