<template>
  <form
    class="w-100"
    @submit.prevent="submit(password)"
  >
    <div class="input-group">
      <input
        type="password"
        ref="password"
        class="form-control dark"
        v-model="password"
        placeholder="Password"
      >
      <div class="input-group-append">
        <button class="btn btn-dark" type="submit" style="z-index:1">Sign in</button>
      </div>
    </div>
    <div class="text-primary">{{desc.text}}</div>
  </form>
</template>

<script>
export default {
  name: "PasswordForm",
  data() {
    return { password: "", desc: { text: "" } };
  },
  mounted() {
    this.$refs.password.focus();
  },
  methods: {
    submit(password) {
      this.desc.text = "";
      return this.$store.dispatch('password', password).catch(err => this.desc.text = err);
    }
  }
};
</script>