<template>
  <form
    class="w-100"
    @submit.prevent="submit(registerData)"
  >
    <div class="form-group">
      <label for="login">Choose a username</label>
      <input
        type="text"
        ref="login"
        id="login"
        class="form-control"
        v-model="registerData.login"
        placeholder="Username"
      >
    </div>
    <div class="form-group">
      <label for="password">Choose a password</label>
      <input
        id="password"
        type="password"
        class="form-control"
        v-model="registerData.password"
        placeholder="Password"
      >
    </div>
    <div class="form-group">
      <label for="role">Select your role</label>
      <select class="form-control" v-model="registerData.role" id="role">
        <option value="USER">User</option>
        <option value="MANAGER">Manager</option>
      </select>
    </div>
    <div class="text-center">
      <div class="text-primary my-1">{{desc.text}}</div>
      <button type="submit" class="btn btn-primary">Sign up</button>
    </div>
  </form>
</template>

<script>
export default {
  name: "LoginForm",
  data() {
    return {
      registerData: { login: "", password: "", role: "USER" },
      desc: { text: "" }
    };
  },
  mounted() {
    this.$refs.login.focus();
  },
  methods: {
    submit(registerData) {
      return this.$store.dispatch("register", registerData);
    }
  }
};
</script>