<template>
  <div class="h-100 initial">
    <div class="row start">
      <div class="col-lg-4 d-lg-block d-none left text-center">
        <img src="/logo.png" style="width:128px;padding-top:20%">
      </div>
      <div class="col-lg-4 col-xs-12 center">
        <div class="sign">
          <transition name="v-slide-left" mode="out-in">
            <router-view></router-view>
          </transition>
        </div>
      </div>
      <div class="col-lg-4 d-lg-block d-none right"></div>
    </div>
  </div>
</template>

<style scoped>
.sign {
  padding: 15% 15% 70% 15%;
}
</style>