
<template>
  <div>
    <table-component
      routed
      :columns="columns"
      endpoint="vehicles?unassigned=true"
      :postprocess="makeAdjustments"
      row-clickable
      :row-click="select"
    ></table-component>
  </div>
</template>

<script>
import Table from "@/components/Table.vue";
import moment from "moment";

export default {
  data() {
    return {
      columns: [
        { field: "name", title: "Name of the Vehicle" },
        {
          field: "symbol",
          title: "Symbol",
          type: "html",
          template:
            '<span class="vehicle mark" style="filter:hue-rotate({hue}deg);">&nbsp;{symbol}&nbsp;</span>'
        },
        { field: "wayType", title: "Means of travelling" },
        { field: "creator", title: "Creator" },
        { field: "createdDisplayText", title: "Created" },
        {
          field: "image",
          title: "Image",
          type: "image",
          src: "/{wayType}.png",
          style: "width:64px;height:64px;filter:hue-rotate({hue}deg);"
        }
      ],
      makeAdjustments(page) {
        page.content.forEach(
          v => (v.createdDisplayText = moment(v.created).fromNow())
        );
        return page;
      }
    };
  },
  mounted() {
    let world = this.$store.getters.world;
    if (!world || this.id != world.id) {
      return this.$store.dispatch("getWorld", this.id).then(world => {
        if (!world) {
          this.$router.push({
            name: "error",
            query: { msg: `World ${this.id} not found` }
          });
          return world;
        }
      });
    }
  },
  methods: {
    select(vehicle) {
      this.$store.dispatch("addVehicle", vehicle).then(() => {
        this.$router.push({ name: "world", params: { id: this.id } });
      });
    }
  },
  props: ["id"],
  components: {
    "table-component": Table
  }
};
</script>