<template>
  <div class="extra-light text-right">
    <span class="d-none d-lg-inline">
      <span class="text-primary">Hello, {{name}}!</span>
      &nbsp;
      You are a {{role}} here.
      &nbsp;
    </span>
    <logout/>
  </div>
</template>

<script>
import Logout from "../components/Logout.vue";

export default {
  computed: {
    role() {
      let user = this.$store.getters.user || {};
      let role = user.role;
      switch (role) {
        case "MANAGER":
          return "manager";
        case "USER":
          return "normal user";
        default:
          return role || "?";
      }
    },
    name() {
      let user = this.$store.getters.user || {};
      return user.name || '?';
    }
  },
  components: {
    logout: Logout
  }
};
</script>
