<template>
  <small class="pointer badge badge-primary" @click="logout()">&lt; logout &gt;</small>
</template>

<script>
export default {
  methods: {
    logout() {
      return this.$store.dispatch('logout');
    }
  }
};
</script>
