<template>
  <div class="text-right">
    <router-link :to="{name: 'sign-in'}" class="badge badge-primary">&lt; sign in here &gt;</router-link>
  </div>
</template>

<script>
export default {};
</script>
