<template>
  <div>
    <div class="d-lg-block d-none">
      <table class="table">
        <thead>
          <tr>
            <th class="pointer" v-for="(column, index) in columns" :key="index">
              <span
                :class="{'text-primary': column.field === page.sort[0].property}"
                @click="sort(page, column.field)"
              >
                {{column.title}}
                <span v-if="column.field === page.sort[0].property">
                  &nbsp;
                  <span v-if="'ASC' === page.sort[0].direction">↓</span>
                  <span v-else>↑</span>
                </span>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            :class="rowClickable ? 'pointer' : ''"
            v-for="(row, index) in page.content"
            :key="index"
            @click="rowClick(row)"
          >
            <td v-for="(column, index) in columns" :key="index">
              <div v-if="!column.type || 'text' === column.type">{{row[column.field]}}</div>
              <div v-else-if="'html' === column.type" v-html="column.template.formatUnicorn(row)"/>
              <img
                v-else-if="'image' === column.type"
                :src="column.src.formatUnicorn(row)"
                :style="column.style.formatUnicorn(row)"
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-lg-none d-block">
      <ul class="list-group">
        <li
          class="list-group-item"
          :class="rowClickable ? 'pointer' : ''"
          v-for="(row, index) in page.content"
          :key="index"
          @click="rowClick(row)"
        >
          <div class="d-flex d-flex-row">
            <div class="mr-2">
              <div v-for="(column, index) in columns" :key="index">
                <img
                  v-if="'image' === column.type"
                  :src="column.src.formatUnicorn(row)"
                  :style="column.style.formatUnicorn(row)"
                >
              </div>
            </div>
            <div>
              <div v-for="(column, index) in columns" :key="index">
                <div
                  v-if="!column.type || 'text' === column.type"
                >{{column.title}}: {{row[column.field]}}</div>
                <div v-else-if="'html' === column.type">
                  {{column.title}}:
                  <span v-html="column.template.formatUnicorn(row)"></span>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <nav class="navbar navbar-light bg-light">
      <div class="d-flex w-100">
        <button
          v-if="page.first === false"
          class="mr-2 btn btn-outline-primary"
          type="button"
          @click="previous(page)"
        >Previous</button>
        <button
          v-if="page.last === false"
          class="mr-auto btn btn-outline-primary"
          type="button"
          @click="next(page)"
        >Next</button>
      <div class="ml-2 text-right text-bold text-primary" v-cloak>
        <span v-if="page.totalElements">
          page {{page.number + 1}}/{{page.totalPages}},
          records {{page.size*page.number + 1}}-{{page.size*page.number + page.numberOfElements}}/{{page.totalElements}}
        </span>
        <span v-else>no records</span>
      </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: "table-component",
  data() {
    return {
      page: {
        size: 0,
        sort: [{ name: "", direction: "" }],
        number: 0
      }
    };
  },
  mounted() {
    this.update();
    this.$parent.$on("update", this.update);
  },
  methods: {
    update(query) {
      this.$http
        .get(this.endpoint, {
          params: this.routed ? this.$route.query : query || { page: 0 }
        })
        .then(response => {
          this.page = this.postprocess(response.body);
        });
    },
    next(page) {
      if (this.routed) {
        let query = { ...this.$route.query };
        query.page = page.number + 1;
        this.$router.push({ query: query });
      } else {
        let query = { page: page.number + 1 };
        query.sort = page.sort[0].propery + "," + page.sort[0].direction;
        query.size = page.size;
        this.update(query);
      }
    },
    previous(page) {
      if (this.routed) {
        let query = { ...this.$route.query };
        query.page = page.number - 1;
        this.$router.push({ query: query });
      } else {
        let query = { page: page.number - 1 };
        query.sort = page.sort[0].propery + "," + page.sort[0].direction;
        query.size = page.size;
        this.update(query);
      }
    },
    sort(page, field) {
      let newSort = field;
      if (field === page.sort[0].property) {
        newSort += "ASC" === page.sort[0].direction ? ",DESC" : ",ASC";
      }
      if (this.routed) {
        let query = { ...this.$route.query };
        query.sort = newSort;
        this.$router.push({ query: query });
      } else {
        let query = { page: 0 };
        query.sort = newSort;
        query.size = page.size;
        this.update(query);
      }
    }
  },
  watch: {
    $route(/*to, from*/) {
      if (this.routed) {
        this.update();
      }
    }
  },
  props: {
    columns: Array,
    endpoint: String,
    postprocess: {
      type: Function,
      default: a => a
    },
    rowClickable: {
      type: Boolean,
      default: false
    },
    rowClick: {
      type: Function,
      default: a => a
    },
    routed: Boolean
  }
};
</script>