<template>
  <div>
  </div>
</template>

<script>
export default {
  name: "time-component",
  data() {
    return {
      page: Object
    };
  },
  mounted() {
    this.$http.get(this.endpoint).then(response => {
      this.page = this.postprocess(response.body);
    });
  },
  props: {
    columns: Array,
    endpoint: String,
    postprocess: {
      type: Function,
      default: a => a
    }
  }
};
</script>