
<template>
  <div>
    <table-component
    :columns="columns"
    endpoint="worlds"
    :postprocess="makeAdjustments"
    row-clickable
    :row-click="selectWorld"></table-component>
  </div>
</template>

<script>
//import businessLogic from "../businessLogic";
import Table from "@/components/Table.vue";
import moment from "moment";

export default {
  data() {
    return {
      columns: [
        { field: "name", title: "Name of the World", type: 'text' },
        { field: "measure", title: "Measure", type: 'text' },
        { field: "creator", title: "Creator", type: 'text' },
        { field: "createdDisplayText", title: "Created", type: 'text' },
        { field: "image", title: "image", type: 'image', src: this.$root.app.serverUrl + '/worlds/{id}/image', style: "width:64px;height:64px;" }
      ],
      makeAdjustments(page) {
        page.content.forEach(
          v => (v.createdDisplayText = moment(v.created).fromNow())
        );
        return page;
      }
    };
  },
  methods: {
    selectWorld(world) {
      this.$router.push({name: 'world', params: {id: world.id}});
    }
  },
  components: {
    "table-component": Table
  }
};
</script>