@font-face {
  font-family: Dejavu Sans;
  src: url(DejaVuSans.ttf);
}
@font-face {
  font-family: Dejavu Sans Bold;
  src: url(DejaVuSans-Bold.ttf);
}
@font-face {
  font-family: Dejavu Sans ExtraLight;
  src: url(DejaVuSans-ExtraLight.ttf);
}
@font-face {
  font-family: Dejavu Sans Mono Bold;
  src: url(DejaVuSansMono-Bold.ttf);
}
@font-face {
  font-family: TeleLogo;
  src: url(TeleLogo.ttf);
}

$btn-text-border-width: 0.5px;
$btn-text-border-color-delta: 25%;
// $btn-font-weight: 500;

$blue: #006adb !default;
$indigo: #5c0bdf !default;
$purple: #5f39a7 !default;
$pink: #e83e8c !default;
$red: #c92424 !default;
$orange: #ff5e00 !default;
$yellow: #dfa702 !default;
$green: #14ac00 !default;
$teal: #1cb688 !default;
$cyan: #17a2b8 !default;
$magenta: #dd00dd !default;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$light: $gray-100 !default;
$dark: $gray-900 !default;

$yiq-contrasted-threshold: 170 !default;

$primary: $magenta !default;
$secondary: $teal !default;
$success: $indigo !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;

$primary-border: darken($primary, $btn-text-border-color-delta) !default;
$secondary-border: darken($secondary, $btn-text-border-color-delta) !default;
$success-border: darken($success, $btn-text-border-color-delta) !default;
$info-border: darken($info, $btn-text-border-color-delta) !default;
$warning-border: darken($warning, $btn-text-border-color-delta) !default;
$danger-border: darken($danger, $btn-text-border-color-delta) !default;

// $font-weight-normal: 400 !default;

html,body {
  height: 100%;
}

.btn {
  font-family: Dejavu Sans Bold;
}

.btn-primary {
  -webkit-text-stroke: $btn-text-border-width $primary-border;
}

.btn-danger {
  -webkit-text-stroke: $btn-text-border-width $danger-border;
}

.btn-warning {
  -webkit-text-stroke: $btn-text-border-width $warning-border;
}

.btn-secondary {
  -webkit-text-stroke: $btn-text-border-width $secondary-border;
}

.btn-info {
  -webkit-text-stroke: $btn-text-border-width $info-border;
}

.btn-success {
  -webkit-text-stroke: $btn-text-border-width $success-border;
}

.form-control.primary {
  border-color: $primary;
}
.form-control.success {
  border-color: $success;
}
.form-control.secondary {
  border-color: $secondary;
}
.form-control.warning {
  border-color: $warning;
}
.form-control.danger {
  border-color: $danger;
}
.form-control.info {
  border-color: $info;
}
.form-control.dark {
  border-color: $dark;
}

$font-family-sans-serif: Dejavu Sans, sans-serif !default;

// $spinner-width: 2rem !default;

// .overlay {
//   position: fixed;
//   z-index: 100;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   margin: auto;
//   background: transparent;
//   width: $spinner-width;
//   height: $spinner-width;
// }

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}

// .fade-enter-active, .fade-leave-active {
//   transition: opacity .5s;
// }
// .fade-enter, .fade-leave-to {
//   opacity: 0;
// }

$wheel-spinner-width: 128px;

.overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5)
}
.wheel-spinner {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: $wheel-spinner-width;
  height: $wheel-spinner-width;
  background-image: url('loader.png');
  background-repeat: no-repeat;
  background-size: $wheel-spinner-width;
  -webkit-animation: rotation 2s infinite linear;
}

.vehicle.GROUND {
  padding: 50% 72% 50% 28%;
  background: url('/GROUND.png') no-repeat center center;
  background-size: cover;
}

.vehicle.UNDERGROUND {
  padding: 60% 19% 40% 81%;
  background: url('/UNDERGROUND.png') no-repeat center center;
  background-size: cover;
}

// .vehicle.AIR {
//   padding: 25% 55% 75% 45%;
//   background: url('balloon.png') no-repeat center center;
//   background-size: cover;
// }

.vehicle.AIR {
  padding: 25% 55% 75% 45%;
  background: url('/AIR.png') no-repeat center center;
  background-size: cover;
}

.vehicle.WATER {
  padding: 50% 83% 50% 17%;
  background: url('/WATER.png') no-repeat center center;
  background-size: cover;
}

$vehicle-mark-color: lighten($color: $magenta, $amount: 25%);

.v-mark { 
  color: $vehicle-mark-color;
}

.vehicle.mark {
  font-family: Dejavu Sans Bold;
  border: 2px solid $vehicle-mark-color;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  color: $vehicle-mark-color;
}

.t-systems {
  font-family: TeleLogo;
}

.extra-light {
  font-family: Dejavu Sans ExtraLight;
}

.text-bold {
  font-family: Dejavu Sans Bold;
}

.text-mono-bold {
  font-family: Dejavu Sans Mono Bold;
}

.pointer {
  cursor: pointer;
}

.initial {
  background: linear-gradient(to bottom,white 0%, #e8e663 60%, #63dfe8 100%);
}

.start {
  background: url('/background.png') repeat-x left center;
  background-origin: padding-box;
  background-size: contain;
  margin: 0px !important;
}

.start .center {
  background: url('/center.png') no-repeat center center;
  background-origin: padding-box;
  background-size: contain;
  padding-left: 0;
  padding-right: 0;
}

.start .left {
  background: url('/left.png') no-repeat left center;
  background-origin: padding-box;
  background-size: contain;
}

.start .right {
  background: url('/right.png') no-repeat right center;
  background-origin: padding-box;
  background-size: contain;
}

.settings {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

.enter .top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.text-large {
  font-size: 150%;
}

.text-small {
  font-size: 70%;
}

.DESERT {
  background-color: rgb(228, 177, 82);
}

.STOP {
  background-color: rgb(206, 100, 206);
}

.TREE {
  background-color: rgb(69, 160, 69);
}

.WATER {
  background-color: rgb(16, 77, 190);
}

.BUILDING {
  background-color: rgb(97, 71, 71);
}

.SUBWAY {
  opacity: 0.5;
}

.START {
  border: 2px solid red;
  color: red;
}

.END {
  border: 2px solid black;
  color: black;
}

$ground-color: hsl(120, 40%, 40%);
$air-color: hsl(300, 40%, 40%);
$underground-color: hsl(30, 40%, 40%);
$water-color: hsl(210, 40%, 40%);

.route-mark {
  font-weight: 900;
  text-shadow: 1.5px 1.5px 0px hsla(0, 0%, 100%, 0.5);
}

.route-GROUND {
  color: $ground-color;
}
.route-AIR {
  color: $air-color;
}
.route-UNDERGROUND {
  color: $underground-color;
}
.route-WATER {
  color: $water-color;
}

.route-GROUND .distance {
  background-color: $ground-color;
}
.route-AIR .distance {
  background-color: $air-color;
}
.route-UNDERGROUND .distance {
  background-color: $underground-color;
}
.route-WATER .distance {
  background-color: $water-color;
}

.distance {
  border-radius: 1rem;
  color: white
}

.world td {
  text-align: center;
  vertical-align: middle;
}

.ic-64 {
  width: 64px;
  height: 64px;
}

[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading…" }

@import "~bootstrap/scss/bootstrap";
@import "~vue-essential-transitions/dist/vue-essential-transitions.min.css";
