<template>
  <div class="h-100">
    <div class="container top">
      <div class="d-flex">
        <div class="mr-auto">
          <small class="badge badge-primary t-systems">TSystems</small>&nbsp;
          <small class="badge badge-dark extra-light">vue</small>&nbsp;
          <small class="badge badge-dark extra-light">fe school</small>
        </div>
        <router-view name="topmost"></router-view>
      </div>
    </div>
    <div id="app" class="h-100">
      <transition name="v-fade">
        <div v-show="app.loading.length">
          <!-- <b-spinner variant="primary"/> -->
          <div class="overlay"></div>
          <div class="wheel-spinner"></div>
        </div>
      </transition>
      <router-view/>
    </div>
  </div>
</template>
<script>
export default {};
</script>
